<html>
    <head>
        
    </head>
    <body>
        <form style="text-align: center;margin-top: 150px" action="/ChangeCrone" method="post">
            <input type="text" name="username" placeholder="username"><br>
            <input type="text" name="password" placeholder="password"><br>
            <input type="number" name="id_activity" placeholder="id_activity"><br>
            <input type="number" name="send_with_sms" placeholder="send_with_sms"><br>
            <input type="number" name="active_crone" placeholder="active_crone"><br>
            <input type="number" name="send_sms" placeholder="send sms"><br>
            <input type="submit" >
        </form>
    </body>
</html>