<html>
    <head>
        
    </head>
    <body>
        <form style="text-align: center;margin: 50px" action="{{path('insertSql')}}" method="post" enctype="multipart/form-data">
            <label>Choose File</label><br>
            <input type="file" name="file"><br>
            <input type="submit" value="send">
        </form>
    </body>
</html>
