<div class="col-lg-12" ng-show="ShowActivityInfo" dir="rtl">

    <div class="col-lg-6 test col-md-6 col-sm-12 col-xs-12">
        <span> نوع</span> : <span>{{SelectedActivity.activityName}}</span>

    </div>
    <div class="col-lg-6 test col-md-6 col-sm-12 col-xs-12">
        <span>توضیحات</span> : <span>{{SelectedActivity.desc}}</span>

    </div>
    <div class="col-lg-6 test col-md-6 col-sm-12 col-xs-12">
        <span>تاریخ</span> : <span>{{SelectedActivity.date}}</span>

    </div>
    <div class="col-lg-6 test col-md-6 col-sm-12 col-xs-12">
        <span>تاریخ ایجاد</span> : <span>{{SelectedActivity.createAt}}</span>

    </div>
    <div class="col-lg-6 test col-md-6 col-sm-12 col-xs-12">
        <span>آخرین تغییرات</span> : <span>{{SelectedActivity.updateAt}}</span>

    </div>
    <div class="clearfix"></div>
</div>