<div >
    <h3 class="page row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="pull-left hidden-sm-down">
                <button style="margin: 0 2px" type="button" class="btn btn-info btn-xs pull-left" id="modalAdd" ng-click="prepareCreate()" data-toggle="modal" data-target="#AddModal" data-original-title="" title="">
                    افزودن<i class="fa fa-plus"></i>
                </button>
                <button style="margin: 0 2px" ng-disabled="!SelectedItemAnimale" type="button" class="btn btn-success btn-xs pull-left" id="modaledit" ng-click="prepareEdit()" data-toggle="modal" data-target="#AddModal" data-original-title="" title="">
                    ویرایش<i class="fa fa-edit"></i>
                </button>
                <button style="margin: 0 2px" ng-disabled="!SelectedItemAnimale" type="button" class="btn btn-danger btn-xs pull-left" ng-click="prepareDelete()" title="">
                    حذف<i class="fa fa-remove"></i>
                </button>
                <button style="margin: 0 2px" class="btn btn-primary btn-xs pull-left" ng-disabled="!SelectedItemAnimale" ng-click="prepareActivity()">نمایش فعالیت ها</button>       
                <button style="margin: 0 2px" class="btn btn-primary btn-xs pull-left" ng-disabled="!SelectedItemAnimale" ng-click="ShowHistory()">نمایش سوابق پزشکی</button>       
            </div>
        </div>    

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right">
            <small>نمایش حیوانات</small>
        </div>
    </h3>
    <div class="table-responsive">
        <table id="example1" class="table table-strip table-bordered" dir="rtl">
            <thead style="background: rgba(90,156,144,0.5)">
                <tr>
                    <!--<th>--> 
                    <!--<input class="selectall" type='checkbox' name="selectall" value="" /> </th>-->
                    <th>ردیف</th>
                    <th>نام</th>
                    <th>سن</th>
                    <th>کد میکرو چیپ</th>
                    <th>کد پرونده</th>
                    <th>فعال/غ فعال</th>
                    <th>تاریخ ثبت</th>
                </tr>
            </thead>
            <tbody>
                <tr id="{{entity.id}}" class='item' ng-click="SelectedItems(entity)" ng-dblclick="Show(entity)"  ng-class="{SelectedItem:entity.id == SelectedItemAnimale.id}" ng-repeat="entity in DataUserAnimale">
                    <!--<td> <input class="selecteditem" name="selectitems[]" type='checkbox' value="{{ entity.id}}" /> </td>-->
                    <td>{{ $index + 1}}</td>
                    <td>{{ entity.name}}</td>
                    <td>
<span ng-show="entity.age == 'null'">ثبت نشده</span>
                        <span ng-show="entity.age != 'null'">{{ entity.age}}</span>
</td>
                    <td>{{ entity.microChip}}</td>
                    <td>{{ entity.codeParvande}}</td>
                    <td>
                        <span style="color:green" ng-show="entity.active">فعال</span>
                        <span style="color:red" ng-show="entity.active == 0">غیر فعال</span>
                    </td>
                    <td>{{ entity.cteateAt}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <!--<th> <input class="selectall" type='checkbox' name="selectall" value="" /> </th>-->
                    <th>ردیف</th>
                    <th>نام</th>
                    <th>سن</th>
                    <th>کد میکرو چیپ</th>
                    <th>کد پرونده</th>
                    <th>فعال/غ فعال</th>
                    <th>تاریخ ثبت</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="modal fade" id="AnimaleShowInfo">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title pull-right">نمایش اطلاعات حیوان</span>
                    <button type="button" class="close pull-left" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <animaleshow></animaleshow>
                    <animaleadd></animaleadd>
                    <animaleedit></animaleedit>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer" ng-show="!EditAnimaleShow && !AddAnimaleShow">
                    <button class="btn btn-success pull-left" ng-click="prepareEdit()">ویرایش</button>       
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ShowActivity">
        <div class="modal-dialog modal-lg modal-special">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title pull-right">نمایش فعالیت های حیوان</span>
                    <button type="button" class="close pull-left" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>    
                </div>
                <div class="modal-body">
                    <activity></activity>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AnimaleShowHistory">
        <div class="modal-dialog modal-lg modal-special">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title pull-right">نمایش سوابق های حیوان</span>
                    <button type="button" class="close pull-left" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>    
                </div>
                <div class="modal-body">
                    <history></history>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog"  id="DeleteModalAnimaleID">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title pull-right">حذف اطلاعات  حیوان</span>
                    <button type="button" class="close pull-left" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <button class="btn btn-success pull-left" ng-click="DeleteAnimale()" >حذف اطلاعات</button>
                    <button type="button" class="btn btn-danger Close pull-left" data-dismiss="modal" aria-label="Close">انصراف</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
