/*


div.content{
    position: relative;
}

.page{
    position: relative;
    background:rgba(90, 156, 144, 0.6);text-align:center;padding:10px 30px ;margin-bottom:20px;
    
}
.bx_clone{
        overflow: hidden;
        position: absolute;
        top:0;
        left:0
}
div.bx{
    
    position: relative;
    display:inline-block;
    border: 2px  cadetblue solid;
    margin: 0 0 2% 2%;
    text-align:center;
    direction:rtl
}
div.img{
    z-index: -1;
}
.close{
    position: absolute;
    right: -30px;
    top: -30px;
    background: #3b5998;
    opacity:0.7;
    border-radius: 20px;
    color: #fff;
    font-size: 15px;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 18px;
    -webkit-transition: all 0.6s;
    -webkit-transform: all 1s;
    text-align: center;
}
.close:hover{
    cursor:pointer;
    opacity:1;
}

.invalid{
    background:rgba(255,0,0,0.4)
}
div.scarf{
    
    position: absolute!important;
    top: 77%;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,.7);
    -webkit-transition: all 0.6s;
    -webkit-transform: all 1s;
    text-align: right;
    color:#fff;
    padding:10px
}
.bx:hover div.scarf{
    top: 0%; 
    
}
div.clear{
    clear: both;
}
div.link{
    position: absolute;
    bottom: 0;
    width:100%;
    padding:3px;
    font-size:18px
}
a.detail{
    text-decoration: none!important;
    color: #5a9c90;
    margin-left: 5px;
}
a.basket{
     
    color: royalblue;
}
.link a{
    font-size: 25px!important;
}
.link a:hover{
    cursor:pointer
}
a:hover{
    text-decoration: none!important;
    color: white;
}

.modal-header{
    background:none;
    width: 100%;
    color: #000;
} 
.head{
    width: 50%;
    display: inline-block;
    margin-left: 5px;
}
div.imgmodal{
    float:right;
    margin-right: 7px;
}
.modal-content{
    border-radius: 0;
    background-color: rgba(255,255,255,0.9);
}
.modal-backdrop{
    background-color: rgba(90, 156, 144, 1);
}
.modal-footer{
    background:none;
}
@media (max-width:726px){
    .bx_clone{
        width: 100%;
        height: 220px
    }
    div.bx{
        width: 100%;
        height: 220px
    }
    #loginmodal{
    position:fixed;width:90%;background:rgba(90, 156, 144, 0.9);top:25vh;padding:20px;display:none;z-index:99999999;
    direction:rtl
}
}
@media (min-width:727px) and (max-width:926px){
    .bx_clone{
        width: 100%;
        height: 220px
    }
    div.bx{
       width: 100%;
        height: 220px
    }
    #loginmodal{
    position:fixed;width:70%;background:rgba(90, 156, 144, 0.9);top:25vh;left:15%;padding:20px;display:none;z-index:99999999;
    direction:rtl
}
}
@media (min-width:926px) and (max-width:1100px){
    .bx_clone{
         width: 100%;
        height: 220px
    }
    div.bx{
        width: 30%;
        height: 220px
    }
    #loginmodal{
    position:fixed;width:30%;background:rgba(90, 156, 144, 0.9);top:25vh;left:35%;padding:20px;display:none;z-index:99999999;
    direction:rtl
}
}
@media (min-width:1100px){
    .bx_clone{
        width: 100%;
        height: 220px
    }
    div.bx{
        width:22%;
        height: 220px
    }
    #loginmodal{
    position:fixed;width:25%;background:rgba(90, 156, 144, 0.9);top:25vh;left:37.5%;padding:20px;display:none;z-index:99999999;
    direction:rtl
}
}
.path{
    width: 100px;
    height: 50px;
    background-color: red;
    position: relative;
    margin: 0 0 5% 2%;
    border: 2px #b92c28;
    animation-name: example;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-direction: alternate;
    opacity: 1;
    transform: translateY(0px)
}
@keyframes example {
     
    0%   {opacity:0; transform: translateY(-100%)}
    100% {opacity:1; transform: translateY(0px)}
}
.change{
    width: 100px;
    height: 100px;
    display: inline-block;
    background: red;
    position: relative;
    -webkit-animation: mymove 5s infinite;  Chrome, Safari, Opera  
    animation: mymove 5s;
}

 Chrome, Safari, Opera  
@-webkit-keyframes mymove {
    0%   {top: 0px; background: red; width: 100px;transform:scale(1)}
    100% {top: 200px; background: yellow; width: 300px;transform:scale(.2)}
}

 Standard syntax 
@keyframes mymove {
    0%   {top: 0px; background: red; width: 100px;transform:scale(1)}
    100% {top: 200px; background: yellow; width: 300px;transform:scale(.2)}
}
table{
 width: 100%;
}

th{  
    text-align: right;
    background-color:rgba(0,128,128,.8);
    color: white;
    padding: 8px;
    text-align:right;
}

.lenght{
    width: 65px;
}

.button {
    background-color:red;
    border: none;
    color:white;
    text-align: center;
    text-decoration: none;
    display: inline-block;      
    cursor: pointer;
    -webkit-transition-duration: 0.4s;  Safari 
    transition-duration: 0.4s;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
div.id{
    background-color:rgba(255,255,255,.7);
}
form.idbasket{
    padding: 3%;
}

ul{
    list-style-type: none;
    color: #000;
}
div.bank{
    padding: 10%;
    text-align: center;
}
button.pardakht {
    font-size: 150%;
    background-color:red;
    border: none;
    color:white;
    text-align: center;
    text-decoration: none;
    display: inline-block;      
    cursor: pointer;
    -webkit-transition-duration: 0.4s;  Safari 
    transition-duration: 0.4s;
}
button.bank:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}*/
