<style>
    .wrapThumtionalProfile
    {
        position: relative;
        background-color: rgb(204, 255, 255);
        border: 2px dashed rgba(0,0,0,.3);
        text-align: center;
        line-height: 120px;
        height: 128px;
        width: 128px;
    }
</style>
<h3>
    ویرایش اطلاعات کاربری 
</h3>
<div >
    <div class="form-group"> 
        نام کاربری شما<span> <strong> {{ userinfo[0].username}}</strong></span>
    </div>
    <div id="ViewMode"  ng-show="!editMode">
        <div>

            <div class="form-group">
                <div ng-show="photo" style="background-image: url('{{photo}}');background-size: cover;width: 139px;height: 139px;border-radius: 100%">
                </div>
                <span ng-show="!photo" style="font-size: 4em"><i class="glyphicon glyphicon-user"></i></span>
            </div>

            <div class="form-group">
                <label for="name" >نام</label>
                <span  ng-bind="name"></span>
            </div>

            <div class="form-group">
                <label for="family" >فامیلی</label>
                <span  ng-bind="family"></span>
            </div>

            <div class="form-group">
                <label for="email" >ایمیل</label>
                <span  ng-bind="email"></span>
            </div>

            <div class="form-group">
                <label for="phone" >تلفن</label>
                <span  ng-bind="phone"></span>
            </div>

            <div class="form-group">
                <label for="phone" >موبایل</label>
                <span  ng-bind="mobile"></span>
            </div>

            <div class="form-group">
                <label for="phone" >آدرس</label>
                <span  ng-bind="address"></span>
            </div>


        </div>
    </div>
    <div class="modal fade" id="ModalEdit"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3>فرم ویرایش اطلاعات</h3>
                </div>
                <div class="modal-body">
                    <form  ng-submit="submitEdit()" role="form" name="EditFormUserInfo" novalidate>
                        لطفا عکس مورد نظر را به داخل کادر بکشید
                        <div class="form-group wrapThumtionalProfile"  ondrop="drop(event)" ondragover="allowDrop(event)">
                            <img id="ShowImageProfile" style="width: 96px;" data-ng-src="{{ photo}}" name="photo"/>

                        </div>

                        <input id="dataHolderImage" class="form-control" ng-model="imageInfo" ng-show="false"/>

                        <div class="form-group col-lg-6">
                            <label for="name" >نام</label>
                            <input class="form-control" name="name" ng-model="name" required/>
                            <div style="margin-top: 20px" ng-show = "EditFormUserInfo.name.$dirty">
                                <span class="alert alert-error" ng-show="EditFormUserInfo.name.$error.required">فیلد نام را پر کنید </span>
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="family" >فامیلی</label>
                            <input class="form-control" name="family" ng-model="family" required/>
                            <div style="margin-top: 20px" ng-show = "EditFormUserInfo.family.$dirty">
                                <span class="alert alert-error" ng-show="EditFormUserInfo.family.$error.required">فیلد فامیلی را پر کنید </span>
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="email" >ایمیل</label>
                            <input class="form-control" name="email" ng-model="email" required/>
                            <div style="margin-top: 20px" ng-show = "EditFormUserInfo.email.$dirty">
                                <span class="alert alert-error" ng-show="EditFormUserInfo.email.$dirty && EditFormUserInfo.email.$invalid">فیلد ایمیل پر نشده یا نا معتبر است </span>
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="phone" >تلفن</label>
                            <input class="form-control" name="phone" ng-model="phone" required/>
                            <div style="margin-top: 20px" ng-show = "EditFormUserInfo.phone.$dirty">
                                <span class="alert alert-error" ng-show="EditFormUserInfo.phone.$error.required">فیلد تلفن را پر کنید </span>
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="phone" >موبایل</label>
                            <input class="form-control" name="mobile" ng-model="mobile" required/>
                            <div style="margin-top: 20px" ng-show = "EditFormUserInfo.mobile.$dirty">
                                <span class="alert alert-error" ng-show="EditFormUserInfo.mobile.$error.required">فیلد تلفن را پر کنید </span>
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="address" >آدرس</label>
                            <input class="form-control" name="address" ng-model="address" required/>
                            <div style="margin-top: 20px" ng-show = "EditFormUserInfo.address.$dirty">
                                <span class="alert alert-error" ng-show="EditFormUserInfo.address.$error.required">فیلد آدرس را پر کنید </span>
                            </div>
                        </div>

                        <hr/>

                        <div class="form-group">
                            <input class="btn btn-success" type="submit" value="بروزرسانی"/>
                        </div>
                    </form>



                    <div class="form-group" >
                        <form ng-submit="submitChangePassword()" role="form" name="changePassword" novalidate>
                            <div class="form-group">
                                <label for="password">پسورد جدید</label>
                                <input name="password" class="form-control" id="password" type="password" ng-model="password" ng-required=""/>
                            </div>
                            <div class="form-group">
                                <label for="passold">تکرار پسورد</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="confirmPassword" ng-required="" pw-check="password" />
                            </div>
                            <div class="form-group">
                                <div class="alert alert-danger" ng-show="changePassword.confirmPassword.$error.pwmatch">
                                    <span>
                                        پسورد ها با هم برابر نیست
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="تغییر کلمه عبور" />
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="form-group" style="text-align: left">
        <button class="btn btn-primary" data-toggle="modal" data-target="#ModalEdit"> {{ textBtnEdit}} </button>

    </div>
</div>


<script>

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        jQuery.each(ev.dataTransfer.files, function(index, file) {
            var fileReader = new FileReader();
            fileReader.onload = (function(file) {
                return function(e) {
                    console.log(e.target.result);
                    $('#ShowImageProfile').attr('src', e.target.result);
                    var holderImg = $("#dataHolderImage");
                    holderImg.val(e.target.result);
                    holderImg.trigger('input');
                };
            })(file);
            fileReader.readAsDataURL(file);
        });

    }
    function allowDrop(ev) {
        ev.preventDefault();
        ev.stopPropagation();
    }
</script>