<div ng-controller="checkMail">
<h2 class="title" style="text-align: center;color:#fff">بازیابی کلمه عبور</h2>
<div style="    background-color: rgba(255,255,255,.3);width:400px;margin: 10px auto;border:solid thin rgba(255,255,255,0.1);direction: rtl;padding-bottom: 20px">
    <div style="background: rgba(255,255,255,0.4);color:#000;padding: 10px;border-radius: 5px;border:solid thin rgba(255,255,255,0.1);font-size: medium;margin:20px;text-align: center;margin-bottom: 0" >
        ایمیلی به <span style="direction: ltr;text-align: left">{{email}}</span> فرستاده شده است. این ایمیل دارای پیوندی است که برای بازنشانی کلمه عبور باید روی آن کلیک کنید.
    </div>
</div>
</div>