<div ng-controller="checkMobile">
<h2 class="title" style="text-align: center;color:#fff">بازیابی کلمه عبور</h2>
<div style="    background-color: rgba(255,255,255,.3);width:400px;margin: 10px auto;border:solid thin rgba(255,255,255,0.1);direction: rtl;padding-bottom: 20px">
    <div style="background: rgba(255,255,255,0.4);color:#000;padding: 10px;border-radius: 5px;border:solid thin rgba(255,255,255,0.1);font-size: medium;margin:20px;text-align: center;margin-bottom: 0" >
        پیامی به <span style="direction: ltr;text-align: left"> شماره({{mobile}})</span>که حاوی رمز عبور جدید است که برای شما ارسال شده است.شما میتوانید با ورود به پنل کاربری رمز عبور خود را تغییر دهید.
    </div>
</div>
</div>