<div>
    <div class="pageShow"  style="background: rgba(90, 156, 144, 0.5);border: 1px solid rgba(255,255,255,0.4);padding: 10px 20px 20px 20px">
        <div class="contentPage" style="background: rgba(255, 255, 255, 0.1);border: 1px solid rgba(255,255,255,0.4);">
            <h2 class="title" style="text-align: right;color:#fff">
                ثبت میکروچیپ
            </h2>  
        </div>
        <div class="contentPage"  style="background: rgba(255, 255, 255, 0.1);border: 1px solid rgba(255,255,255,0.4);">
            <div  style="padding:10px">
                <user></user>
                <animal></animal>
                <result></result>
                <response></response>
            </div>
        </div>

    </div>
</div>