<div  >

    <h2 class="title" style="text-align: right">
        نمایش اطلاعات پزشک
    </h2>

    <div class="pageShow" style="background: rgba(255,255,255,.2);border: 1px solid rgba(255,255,255,0.4);padding: 10px 10px 10px 20px">

        <div style="display: table;width:100%;border-spacing: 10px ;background: rgba(255,255,255,.2);border: 1px solid rgba(255,255,255,0.4);margin: 5px">
            <div style="display: table-row;">
                <div style="display: table-cell;width: 160px;vertical-align: top;margin: 5px">
                    <div style="background: rgba(255,255,255,.2);border: 1px solid rgba(255,255,255,0.4);padding: 5px">
                        <img ng-show="user.photo" ng-src="{{user.photo}}" width="80%" style="height: 200px;width: 150px">
                        <span ng-show="!user.photo" class="glyphicon glyphicon-user" title="{{ user.name}}" style="font-size: 150px;color:rgba(0,0,0,0.5)" hidden-area="true"></span>
                    </div>
                    <div style="background: rgba(255,255,255,.2);border: 1px solid rgba(255,255,255,0.4);margin-top: 5px;padding: 2px 10px">
                        <p ><span >نام</span> : {{user.name}} {{user.family}}</p>
                    </div>
                    <h4 ng-show="expertise">تخصص</h4>
                    <div ng-show="expertise" style="background: rgba(255,255,255,.2);border: 1px solid rgba(255,255,255,0.4);margin-top: 5px;padding: 2px 10px">
                        <p  ng-repeat="exp in expertise"> {{exp}}</p>
                    </div>
                </div>
                <div style="display: table-cell;text-align: right;vertical-align: top;margin: 5px">
                    <h3 ng-show="!Certificate" style="text-align: center">اطلاعاتی جهت نمایش وجود ندارد</h3>
                    <div  ng-repeat="cer in Certificate">

                        <div >
                            <p  style="background: rgba(255,255,255,.2);border: 1px solid rgba(255,255,255,0.4);padding: 10px;">
                                توضیحات : <span ng-bind-html-unsafe="cer.desc"></span></p>
                        </div>

                        <div  style="text-align: right">
                            <img ng-src="{{cer.photo}}" style="min-height: 269px;max-width: 100%;height: auto;margin-bottom: 10px">
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
