<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>My AngularJS App</title>
{#        <link rel="stylesheet" href="{{asset('bundles/public/css/bootstrap.rtl.css')}}">#}
    </head>
    <body>
        <div class="container">
           {{entity}}
        </div>
        <script src="{{ asset('bundles/public/js/jquery-1.11.1.js')}}"></script>
        <script src="{{ asset('bundles/public/js/bootstrap.min.js')}}"></script>
        </script>
    </body>
</html>
