<div style="direction: rtl;width:80%;margin:0 auto" ng-show="UserShow">
    <h2 class="title" style="text-align: right;color:#fff">ثبت نام</h2>
    <div style="color:red;padding: 10px;border-radius: 5px;font-size: medium;margin:20px;text-align: center;margin-bottom: 0" ng-show="errorMsg && !success">{{ errorMsg}}</div>
    <form name="UserSendInfoForm"  style="border-radius: 5px" ng-show="!success">
        <input type="hidden" name="_csrf_token"  />

        <input type="text" ng-disabled="isLoading == 1" required="true" name="name" ng-class="{invalid:UserSendInfoForm.name.$invalid}" data-toggle="tooltip" ng-model="user.name"  data-placement="top" title="نام" class="input textbox" id="name"  placeholder="نام"  />
        <input type="text" ng-disabled="isLoading == 1" required="true" name="family" ng-class="{invalid:UserSendInfoForm.family.$invalid}" data-toggle="tooltip" ng-model="user.family"  data-placement="top" title="نام خانوادگی" class="input textbox" id="family"   placeholder="نام خانوادگی"  />
        <select ng-model="user.sex" ng-disabled="isLoading == 1" class="input textbox">
            <option ng-selected="!user.sex" id="sex">جنسیت</option>
            <option value="0">آقا</option>
            <option value="1">خانم</option>
        </select> 
        <input ng-model="user.email" required="true" name="email" ng-class="{invalid:UserSendInfoForm.email.$invalid}" type="email" ng-disabled="isLoading == 1" data-toggle="tooltip" ng-model="username"  data-placement="top" title="ایمیل" style="direction: ltr" class="input textbox" id="email"   placeholder="ایمیل"  />
        <input ng-model="user.mobile" required="true" name="mobile" ng-class="{invalid:UserSendInfoForm.mobile.$invalid}" maxlengh="11" angular-mask="0900-000-0000" type="text" ng-disabled="isLoading == 1" data-toggle="tooltip" style="direction: ltr"  ng-model="username"  data-placement="top" title="تلفن همراه" class="input textbox" id="mobile"  placeholder="تلفن همراه"  />
        <textarea ng-model="user.address" required="true" name="address" ng-class="{invalid:UserSendInfoForm.address.$invalid}" type="text" ng-disabled="isLoading == 1" data-toggle="tooltip" ng-model="username"  data-placement="top" title="نشانی" class="input textbox" id="addr"  placeholder="نشانی"  ></textarea>
<!--        <input ng-model="pw" type="password" ng-disabled="isLoading == 1" data-toggle="tooltip" ng-model="password" data-placement="top" title="کلمه عبور"  class="input textbox" id="password"  placeholder="کلمه عبور"  />
        <ul   id="strength" check-strength="pw"></ul>
        <input ng-model="repw" type="password" ng-disabled="isLoading == 1" data-toggle="tooltip" ng-model="password" data-placement="top" title="تکرار کلمه عبور"  class="input textbox" id="repassword"  placeholder="تکرار کلمه عبور"  />-->
        <button  ng-click="UserInfoSend()" ng-disabled="UserSendInfoForm.name.$invalid ||
                 UserSendInfoForm.family.$invalid ||
              UserSendInfoForm.email.$invalid ||
        UserSendInfoForm.mobile.$invalid ||
        UserSendInfoForm.address.$invalid" class="input btnbox" id="_submit"  name="_submit" ><span>مرحله بعدی</span> : <i class="fa fa-arrow-left"></i></button>
    </form>
    <h4 ng-show="success" style="color:#fff">به مجموعه آبان خوش آمدید</h4>
    <h4 ng-show="success" style="color:#fff">{{ errorMsg}}</h4>
</div>
