<form ng-submit="SendFile()" name="AddSlider" ng-show="AddSliderInfo" enctype="multipart/form-data" novalidate>
    <div class="modal-body" dir="rtl">
        <div class="col-lg-12">
            <div class="col-lg-6 test pull-left">
                <label >تصویر </label>
                <!--<input type="file" class="UploadImage form-control" required file-model="myFile"/>-->
                <inputfile ></inputfile>
                <div ></div>
            </div>
            <div class="col-lg-6 test col-md-6 col-sm-12 col-xs-12">
                <label>متن کوچک   *</label>
                <input type="text" name="title_h3" ng-class="{ErrorInput:AddSlider.title_h3.$invalid}" required ng-model="AddItem.title_h3"  class="form-control">
            </div>

            <div class="col-lg-6 test col-md-6 col-sm-12 col-xs-12">
                <label>متن بزرگ  *</label>
                <input type="text" name="title_h1" required ng-class="{ErrorInput:AddSlider.title_h1.$invalid}"  ng-model="AddItem.title_h1"  class="form-control">
            </div>
            <div class="col-lg-6 test col-md-6 col-sm-12 col-xs-12">
                <label>وضعیت</label>
                <select ng-model="AddItem.active" class="form-control">
                    <option value="1">فعال</option>
                    <option value="0">غیر فعال</option>
                </select>
            </div>            
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success pull-left" ng-disabled="AddSlider.title_h1.$invalid || AddSlider.title_h3.$invalid || AddSlider.file.$invalid" type="submit">ارسال</button>
        <button class="btn btn-danger pull-left Close" data-dismiss="modal" aria-label="Close">انصراف</button>
    </div>
    <div class="clearfix"></div>
</form>