<div class="modal fade" id="Sliders">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title pull-right">نمایش اطلاعات اسلایدر</span>
                <button type="button" class="close pull-left" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <editslider></editslider>
            <addslider></addslider>
            <showslider></showslider>
            
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteSlider">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-left" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h3 class="pull-right">حذف اسلایدر</h3>
            </div>
            <div class="modal-body" dir="rtl">
                <h4>آیا از حذف اطلاعات مطمئن هستید  ؟</h4>
            </div>
            <div class="modal-footer">
                <button class="pull-left btn btn-success" ng-click="SendDeleteSlider()">حذف اطلاعات </button>
                <button class="pull-left btn btn-danger" data-dismiss="modal">انصراف</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>